footer {
    flex: 1;
    height: 19rem;
    line-height: $line-height-1-7;
    flex-wrap: $flex-wrap;
    @include flex-column(flex, row, space-between, center);

    @media screen and (min-width: 913px) {
        @include padding(12rem, 12rem);

        .picture {
            height: 100%;
            flex: 1;

            @include flex-column(flex, row, flex-start, flex-start);
        }

        .footer-product {
            padding: 5px;
            height: 100%;
            flex: 1;
            flex-wrap: $flex-wrap;
            @include flex-column(flex, column, flex-start, flex-start);

            li {
                display: flex;
                flex-direction: column;
            }

            a {
                position: $position-relative;
                overflow: hidden;
            }

            a:hover {
                color: $text-hover-black;
            }

            a::before {
                content: "";
                background-color: $bg-blue;
                display: $display-inline-block;
                width: $vp-full;
                height: 2px;
                position: $position-absolute;
                top: 90%;
                left: 0;
                transform: rotateY(90deg);
                transition: 0.5S;
            }

            a:hover::before {
                transform: rotateX(0);
            }
        }

        .footer-company {
            padding: 5px;
            flex-wrap: $flex-wrap;
            height: 100%;
            flex: 1;
            @include flex-column(flex, column, flex-start, flex-start);

            a {
                position: $position-relative;
                overflow: hidden;
            }

            button {
                display: block;
                line-height: 1.7rem;
            }

            a:hover {
                color: $text-hover-black;
            }

            a::before {
                content: "";
                background-color: $bg-blue;
                display: $display-inline-block;
                width: $vp-full;
                height: 2px;
                position: $position-absolute;
                top: 90%;
                left: 0;
                transform: rotateY(90deg);
                transition: 0.5S;
            }

            a:hover::before {
                transform: rotateX(0);
            }
        }

        .footer-help {
            padding: 5px;
            flex-wrap: $flex-wrap;
            height: 100%;
            flex: 1;
            @include flex-column(flex, column, flex-start, flex-start);

            a {
                position: $position-relative;
                overflow: hidden;
            }

            a:hover {
                color: $text-hover-black;
            }

            a::before {
                content: "";
                background-color: $bg-blue;
                display: $display-inline-block;
                width: $vp-full;
                height: 2px;
                position: $position-absolute;
                top: 90%;
                left: 0;
                transform: rotateY(90deg);
                transition: 0.5S;
            }

            a:hover::before {
                transform: rotateX(0);
            }
        }

        .footer-documentation {
            padding: 5px;
            flex-wrap: $flex-wrap;
            height: 100%;
            flex: 1;
            @include flex-column(flex, column, flex-start, flex-start);

            a {
                position: $position-relative;
                overflow: hidden;
            }

            a:hover {
                color: $text-hover-black;
            }

            a::before {
                content: "";
                background-color: $bg-blue;
                display: $display-inline-block;
                width: $vp-full;
                height: 2px;
                position: $position-absolute;
                top: 90%;
                left: 0;
                transform: rotateY(90deg);
                transition: 0.5S;
            }

            a:hover::before {
                transform: rotateX(0);
            }
        }
    }

    @media screen and (max-width: 913px) {
        @include padding(5rem, 5rem);
        .picture {
            height: $vp-full;
            flex: 1;
            @include flex-column(flex, column, flex-start, flex-start);
        }

        .footer-product {
            padding: 5px;
            height: $vp-full;
            flex: 1;
            flex-wrap: $flex-wrap;
            @include flex-column(flex, column, flex-start, flex-start);
        }

        .footer-company {
            padding: 5px;
            height: $vp-full;
            flex-wrap: $flex-wrap;
            flex: 1;

            @include flex-column(flex, column, flex-start, flex-start);
        }

        .footer-help {
            padding: 5px;
            height: $vp-full;
            flex-wrap: $flex-wrap;
            flex: 1;

            @include flex-column(flex, column, flex-start, flex-start);
        }

        .footer-documentation {
            padding: 5px;
            height: $vp-full;
            flex-wrap: $flex-wrap;
            flex: 1;

            @include flex-column(flex, column, flex-start, flex-start);
        }
    }

    @media screen and (max-width: 480px) {
        @include padding(0rem, 0rem);

        .footer-product {
            padding: 5px;
            flex-wrap: $flex-wrap;
            flex: 1;
            @include flex-column(flex, column, flex-start, flex-start);
        }

        .footer-company {
            padding: 5px;
            flex-wrap: $flex-wrap;
            flex: 1;
            @include flex-column(flex, column, flex-start, flex-start);
        }

        .footer-help {
            padding: 5px;
            flex-wrap: $flex-wrap;
            flex: 1;
            @include flex-column(flex, column, flex-start, flex-start);
        }

        .footer-documentation {
            padding: 5px;
            flex-wrap: $flex-wrap;
            flex: 1;
            @include flex-column(none, column, flex-start, flex-start);
        }
    }
}