@media screen and (max-width: 913px) {
    body {
        height: 100vh;
        flex-wrap: $flex-wrap;
        @include d-flex(flex, space-evenly, center);
    }

    .introduction-text {
        gap: $gap-20;
        @include flex-column(flex, column, center, flex-start);

        h5 {
            font-size: $font-size-2-5rem;
            color: $bg-blue;
            text-shadow: #4c89f2 1px 0 10px;
        }

        a {
            @include a(none, white, 8px 20px, #4c89f2, 20px);
        }

        a:hover {
            background-color: $bg-a-blue-hover;
        }
    }

    .text {
        @include text(350px, 500px, wrap, 20px);
        @include flex-column(flex, column, flex-start, none);
    }

    input[type=text] {
        @include input(66%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=text]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    input[type=radio] {
        margin-top: 5px;
    }

    input[type=email] {
        @include input(78%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=email]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    input[type=number] {
        @include input(82%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=number]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    select {
        @include input(83%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    select:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    #Country {
        @include input(73%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=submit] {
        @include input(100%, wrap, 30px, 19px 0, 2px solid #4c89f2, 5px);
    }

    input[type=submit]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
        background-color: #4c89f2;
    }
}



@media screen and (min-width: 913px) {



    body {
        height: 100vh;
        flex-wrap: $flex-wrap;
        @include d-flex(flex, space-evenly, center);
    }

    .introduction-text {
        gap: $gap-20;
        @include flex-column(flex, column, center, flex-start);

        h5 {
            font-size: $font-size-2-5rem;
            color: $bg-blue;
            text-shadow: #4c89f2 1px 0 10px;
        }

        a {
            @include a(none, white, 8px 20px, #4c89f2, 20px);
        }

        a:hover {
            background-color: $bg-a-blue-hover;
        }
    }

    .text {
        @include text(350px, 500px, wrap, 20px);
        @include flex-column(flex, column, flex-start, none);
    }

    input[type=text] {
        @include input(66%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=text]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    input[type=radio] {
        margin-top: 5px;
    }

    input[type=email] {
        @include input(78%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=email]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    input[type=number] {
        @include input(82%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=number]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    select {
        @include input(83%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    select:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    #Country {
        @include input(73%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=submit] {
        @include input(100%, wrap, 30px, 19px 0, 2px solid #4c89f2, 5px);
    }

    input[type=submit]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
        background-color: #4c89f2;
    }
}



@media screen and (max-width: 480px) {
    body {
        height: 100vh;
        flex-wrap: $flex-wrap;
        @include d-flex(flex, space-around, inherit);
    }

    .introduction-text {
        // gap: $gap-20;
        @include flex-column(flex, column, center, flex-start);

        h5 {
            font-size: $font-size-2-5rem;
            color: $bg-blue;
            text-shadow: #4c89f2 1px 0 10px;
        }

        a {
            @include a(none, white, 8px 20px, #4c89f2, 20px);
        }

        a:hover {
            background-color: $bg-a-blue-hover;
        }
    }

    .text {
        @include text(330px, 500px, wrap, 20px);
        @include flex-column(flex, column, flex-start, none);
    }

    input[type=text] {
        @include input(66%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=text]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    input[type=radio] {
        margin-top: 5px;
    }

    input[type=email] {
        @include input(78%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=email]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    input[type=number] {
        @include input(82%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=number]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    select {
        @include input(83%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    select:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
    }

    #Country {
        @include input(73%, wrap, 30px, 5px, 2px solid #4c89f2, 5px);
    }

    input[type=submit] {
        @include input(100%, wrap, 30px, 19px 0, 2px solid #4c89f2, 5px);
    }

    input[type=submit]:hover {
        @include input-hover(2px solid #4c89f2, 0px 0px 5px 5px rgba(150, 150, 150, 0.5));
        background-color: #4c89f2;
    }
}