@media screen and (min-width: 913px) {
    .header {
        width: $full-width;
        height: $hg-header-13vh;
        background-color: $bg-white;
        position: fixed;
        flex-wrap: wrap;
        flex-direction: row;
        top: 0;
        z-index: 1000;
        @include padding(1%, 1%);
        @include d-flex(flex, space-evenly, center);

        &__logo {
            flex: 0.2;
            @include d-flex(flex, flex-start, center);

            img {
                width: $vp-120px;
            }
        }

        &__icon {
            @include d-flex(none, flex-end, center);
        }

        &__nav {
            width: $full-width;
            flex: 3;
            @include d-flex(flex, flex-end, center);


            &--white {
                @include a(none, rgb(96, 96, 96), 8px 20px, white, 0);
            }


            &--blue {
                @include a(none, white, 8px 20px, #4c89f2, 20px);
            }

            a {
                position: $position-relative;
                overflow: hidden;
            }

            a:hover:not(:nth-child(10)) {
                color: $text-hover-black;
            }

            a:hover:nth-child(10) {
                background-color: $bg-a-blue-hover;
            }


            a:not(:nth-child(10))::before {
                content: "";
                background-color: $bg-blue;
                display: $display-inline-block;
                width: $vp-full;
                height: 2px;
                position: $position-absolute;
                top: 78%;
                left: 0;
                transform: rotateY(90deg);
                transition: 0.5S;
            }

            a:hover::before {
                transform: rotateX(0);
            }
        }
    }
}

@media screen and (max-width: 913px) {
    .header {
        width: $full-width;
        height: $hg-header-9vh;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 1000;
        @include padding(4%, 4%);
        @include d-flex(flex, space-between, center);


        &__logo {
            width: $vp-25;
            height: $hg-fullheight;
            margin: $margin-0;
            @include d-flex(flex, flex-start, center);

            img {
                width: 120px;
            }
        }


        &__nav {
            width: $vp-20;
            padding: 5px;
            @include d-none(absolute, 100%, 0, column);
            @include d-flex(none, center, flex-start);


            &--white,
            &--blue {
                @include a-tablet-mobile(none, black, 8px 12px, 10px)
            }

            a {
                padding: 7px 13px;
                font-size: $font-size-1-1;
            }


            a:hover:not(:nth-child(10)) {
                color: $text-hover-black;
            }

            a:hover:nth-child(10) {
                background-color: $bg-a-blue-hover;
            }
        }

        .show {
            display: flex;
            z-index: 1000;
            width: 38%;
            background-color: rgba(148, 148, 148, 0.8);
        }

        &__icon {
            @include d-flex(flex, flex-end, center);

            i {
                font-size: $font-size-1-1;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        min-width: $full-width;
        height: $hg-header-9vh;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: $bg-white;
        @include padding(4%, 4%);
        @include d-flex(flex, space-between, center);


        &__logo {
            width: $vp-20;
            height: $hg-header-9vh;
            flex: 0.5;
            margin: $margin-0;
            @include d-flex(flex, flex-start, center);

            a {
                padding: 5px 13px;
                font-size: $font-size-1-1;
            }

            img {
                width: 120px;
            }


            h1 {
                font-size: $font-size-1;
            }
        }

        &__nav {
            flex-wrap: wrap;
            @include d-none(absolute, 100%, 0, column);
            @include d-flex(none, center, flex-start);

            &--white,
            &--blue {
                @include a-tablet-mobile(none, black, 8px 12px, 10px)
            }
        }

        .show {
            display: flex;
            flex-wrap: wrap;
            z-index: 2;
            background-color: rgba(148, 148, 148, 0.8);
            width: 50%;
        }


        &__icon {
            color: $text-black;
            i {
                font-size: $font-size-1-1;
            }
        }
    }
}