@media screen and (max-width: 913px) {
    .bg-yootheme {
        position: $position-relative;
        // padding: $hg-header-9vh 0;
        @include d-flex(flex, center, center);

        &__background {
            width: $vp-full;
            height: $hg-50vh;


            img {
                width: $full-width;
                height: $hg-fullheight;
            }
        }


        &__discription {
            position: $position-absolute;
            width: $vp-70;
            text-align: $text-align-center;
            line-height: $line-height-1-7;


            a:nth-child(2n+1) {
                display: $display-inline-block;
                margin: 15px;
                @include a(none, white, 8px 20px, #4c89f2, 20px);
            }


            a:nth-child(2n+1):hover {
                color: $text-hover-black;
            }


            a:nth-child(2n) {
                display: $display-inline-block;
                margin: 15px;
                @include a-white-bg();
            }
        }
    }
}





@media screen and (min-width: 913px) {
    .bg-yootheme {
        position: $position-relative;
        // padding: 13vh 0;
        @include d-flex(flex, center, center);

        &__background {
            width: $vp-full;
            height: $hg-70vh;


            img {
                width: $vp-full;
                height: $hg-fullheight;
            }
        }

        &__discription {
            position: $position-absolute;
            top: 50%;
            width: 60%;
            text-align: $text-align-center;
            line-height: $line-height-1-5;

            a:nth-child(2n+1) {
                display: $display-inline-block;
                margin: 15px;
                @include a(none, white, 8px 20px, #4c89f2, 20px);
            }

            a:nth-child(2n+1):hover {
                background-color: $bg-a-blue-hover;
            }

            a:nth-child(2n) {
                display: $display-inline-block;
                margin: $margin-15px;
                @include a-white-bg();
            }

            a:nth-child(2n):hover {
                background-color: $text-gray;
                color: $bg-white;   
            }
        }
    }
}





@media screen and (max-width: 480px) {
    .bg-yootheme {
        position: $position-relative;
        padding: $hg-header-9vh 0;
        @include d-flex(flex, center, center);


        &__background {
            width: $vp-full;
            height: $hg-50vh;

            img {
                width: $full-width;
                height: $hg-fullheight;
            }
        }


        &__discription {
            position: $position-absolute;
            width: $vp-90;
            text-align: $text-align-center;
            line-height: $line-height-1-5;

            a:nth-child(2n+1) {
                display: $display-inline-block;
                margin: 15px;
                @include a(none, white, 8px 20px, #4c89f2, 20px);
            }

            a:nth-child(2n+1):hover {
                color: $text-hover-black;
            }

            a:nth-child(2n) {
                display: $display-inline-block;
                margin: $margin-15px;
                @include a-white-bg();
            }
        }
    }
}