@media screen and (min-width: 913px) {
    .advertising {
        width: $vp-full;
        height: 70px;
        background-color: $text-black;
        margin: 20px 0;
        @include flex-column(flex, none, center, center);
       
        &__general {
            background-color: $bg-blue;
            @include flex-column(flex, none, center, center);
            @include advertising(0 10px, 55px, 55px, 50%);
        }

        &__general:hover {
            outline-offset: 4px;
        }

        &__general:hover svg {
            animation: shake 1s;
        }

        @keyframes shake {
            10% {
                transform: rotate(20deg);
            }

            20% {
                transform: rotate(-20deg);
            }

            30% {
                transform: rotate(20deg);
            }

            40% {
                transform: rotate(-20deg);
            }

        }
    }
}



@media screen and (max-width: 913px) {
    .advertising {
        width: $vp-full;
        height: 70px;
        background-color: $text-black;
        margin: 20px 0;
        @include flex-column(flex, none, center, center);

        &__general {
            background-color: $bg-blue;
            @include flex-column(flex, none, center, center);
            @include advertising(0 10px, 55px, 55px, 50%);
        }
    }
}





@media screen and (max-width: 480px) {
    .advertising {
        width: $vp-full;
        height: 70px;
        background-color: $text-black;
        margin: 20px 0;
        @include flex-column(flex, none, center, center);

        &__general {
            background-color: $bg-blue;
            @include flex-column(flex, none, center, center);
            @include advertising(0 10px, 55px, 55px, 50%);
        }
    }
}