@media screen and (min-width: 913px) {
    .hide {
        margin: auto;
        gap: 30px;
        @include flex-column(flex, row, flex-start, flex-start);
        @include space-card-monile(98%, 200vh);

        &__introdution {
            flex: 0.5;
            height: 100%;
            @include flex-column(flex, column, flex-start, flex-start);

            &__introdution1 {
                width: 100%;
                height: 30%;
                line-height: $line-height-1-7;

                a {
                    position: $position-relative;
                    overflow: hidden;
                }

                a:hover {
                    color: $text-hover-black;
                }


                a::before {
                    content: "";
                    background-color: $bg-blue;
                    display: $display-inline-block;
                    width: $vp-full;
                    height: 2px;
                    position: $position-absolute;
                    top: 90%;
                    left: 0;
                    transform: rotateY(90deg);
                    transition: 0.5S;
                }

                a:hover::before {
                    transform: rotateX(0);
                }
            }

            &__introdution2 {
                width: 100%;
                line-height: $line-height-1-7;

                a {
                    position: $position-relative;
                    overflow: hidden;
                }

                a:hover {
                    color: $text-hover-black;
                }

                a::before {
                    content: "";
                    background-color: $bg-blue;
                    display: $display-inline-block;
                    width: $vp-full;
                    height: 2px;
                    position: $position-absolute;
                    top: 90%;
                    left: 0;
                    transform: rotateY(90deg);
                    transition: 0.5S;
                }

                a:hover::before {
                    transform: rotateX(0);
                }
            }
        }

        &__center-card {
            flex-wrap: wrap;
            flex: 1;
            @include space-card-monile(100%, 100%);

            &__service1 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    opacity: 100%;
                    transition: 0.5s;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }

                    a {
                        opacity: 0;
                        transform: 0.5s;
                    }

                    a:hover:nth-child(2n) {
                        background-color: $bg-a-blue-hover;
                    }

                    a:not(:nth-child(2)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;
                    transition: 0.5s;

                    a {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service1:hover {
                box-shadow: 0px 0px 20px 5px rgba(96, 96, 96, 80%);
            }


            &__service2 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }

                    a {
                        opacity: 0;
                        transform: 0.5s;
                    }

                    a:hover:nth-child(2n) {
                        background-color: $bg-a-blue-hover;
                    }

                    a:not(:nth-child(2)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }

                }

                &__top:hover {
                    opacity: 80%;
                    transition: 0.5s;

                    a {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service2:hover {
                box-shadow: 0px 0px 20px 5px rgba(96, 96, 96, 80%);
            }

            &__service3 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }

                    a {
                        opacity: 0;
                        transform: 0.5s;
                    }

                    a:hover:nth-child(2n) {
                        background-color: $bg-a-blue-hover;
                    }

                    a:not(:nth-child(2)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;
                    transition: 0.5s;

                    a {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service3:hover {
                box-shadow: 0px 0px 20px 5px rgba(96, 96, 96, 80%);
            }

            &__service4 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }

                    a {
                        opacity: 0;
                        transform: 0.5s;
                    }

                    a:hover:nth-child(2n) {
                        background-color: $bg-a-blue-hover;
                    }

                    a:not(:nth-child(2)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;
                    transition: 0.5s;

                    a {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service4:hover {
                box-shadow: 0px 0px 20px 5px rgba(96, 96, 96, 80%);
            }
        }

        &__right-card {
            flex-wrap: wrap;
            flex: 1;
            @include space-card-monile(100%, 100%);
            // @include flex-column(flex, column, flex-start, flex-start);

            &__service1 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }

                    a {
                        opacity: 0;
                        transform: 0.5s;
                    }

                    a:hover:nth-child(2n) {
                        background-color: $bg-a-blue-hover;
                    }

                    a:not(:nth-child(2)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;
                    transition: 0.5s;

                    a {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service1:hover {
                box-shadow: 0px 0px 20px 5px rgba(96, 96, 96, 80%);
            }

            &__service2 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }

                    a {
                        opacity: 0;
                        transform: 0.5s;
                    }

                    a:hover:nth-child(2n) {
                        background-color: $bg-a-blue-hover;
                    }

                    a:not(:nth-child(2)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;
                    transition: 0.5s;

                    a {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service2:hover {
                box-shadow: 0px 0px 20px 5px rgba(96, 96, 96, 80%);
            }

            &__service3 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }

                    a {
                        opacity: 0;
                        transform: 0.5s;
                    }

                    a:hover:nth-child(2n) {
                        background-color: $bg-a-blue-hover;
                    }

                    a:not(:nth-child(2)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;
                    transition: 0.5s;

                    a {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service3:hover {
                box-shadow: 0px 0px 20px 5px rgba(96, 96, 96, 80%);
            }

            &__service4 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }

                    a {
                        opacity: 0;
                        transform: 0.5s;
                    }

                    a:hover:nth-child(2n) {
                        background-color: $bg-a-blue-hover;
                    }

                    a:not(:nth-child(2)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;
                    transition: 0.5s;

                    a {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service4:hover {
                box-shadow: 0px 0px 20px 5px rgba(96, 96, 96, 80%);
            }
        }

        #font-size {
            font-size: $font-size-1-2;
        }
    }
}




@media screen and (max-width: 913px) {
    .hide {
        width: $hg-98;
        height: $hg-200vh;
        margin: auto;
        flex-wrap: wrap;
        @include flex-column(flex, column, flex-start, flex-start);

        &__introdution {
            display: none;
        }

        &__center-card {
            flex-wrap: wrap;
            @include space-card-monile(100%, 100%);
            @include flex-column(flex, column, flex-start, none);

            &__service1 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service2 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service3 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service4 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }
        }

        &__right-card {
            display: none;
        }
    }
}






@media screen and (max-width: 480px) {
    .hide {
        padding: 0 1%;
        @include flex-column(flex, column, flex-start, flex-start);
        @include space-card-monile(98%, 150vh);

        &__introdution {
            display: none;
        }

        &__center-card {
            flex-wrap: wrap;
            @include space-card-monile(100%, 100%);
            @include flex-column(flex, column, flex-start, none);

            &__service1 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service2 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service3 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }

            &__service4 {
                @include flex-column(flex, column, flex-start, none);
                @include space-card-monile(100%, 25%);

                &__top {
                    position: $position-relative;
                    @include space-card-monile(100%, 80%);

                    &--blue {
                        @include position-botton(absolute, 20%, 50%, none, 3);
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white1 {
                        @include position-botton(absolute, 45%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    &--white2 {
                        @include position-botton(absolute, 70%, 50%, none, 3);
                        @include a(none, rgb(96, 96, 96), 8px 20px, white, 20px);
                    }

                    img {
                        @include space-card-monile(100%, 100%);
                    }
                }

                &__bottom {
                    @include space-card-monile(100%, 20%);
                    @include flex-column(flex, column, center, flex-start);
                }
            }
        }

        &__right-card {
            display: none;
        }
    }
}