@media screen and (max-width: 913px) {
    .hide {
        width: $hg-98;
        height: $hg-1200px;
        @include flex-column(flex, column, flex-start, flex-start);

        &__introdution {
            display: none;
        }

        &__explanation {
            width: $vp-full;
            height: $vp-50;
            flex-direction: $flex-direction-row;
            @include padding(2%, 2%);
            // @include d-flex(flex, space-between, space-between);

            &__services {
                width: $vp-full;
                height: $hg-600px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-80;
                    flex-direction: $flex-direction;
                    background-image: url(../images/juno/preview-88c7d92d.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-20;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services1 {
                width: $vp-full;
                height: 600px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: 80%;
                    flex-direction: $flex-direction;
                    background-image: url(../images/trek/trek\ bg.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: 20%;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services2 {
                width: $vp-full;
                height: 600px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: 80%;
                    flex-direction: $flex-direction;
                    background-image: url(../images/gravity/gravity-bg.jpeg);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: 20%;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services3 {
                width: $vp-full;
                height: 600px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: 80%;
                    flex-direction: $flex-direction;
                    background-image: url(../images/balou/balou.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: 20%;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            .vp100 {
                width: $vp-full;
            }

            .cn-big {
                background-color: rgb(169, 169, 169);
                width: 40px;
                height: 40px;
            }
        }

        &__explanation1 {

            width: 100%;
            height: 50%;
            flex-direction: $flex-direction;
            @include padding(2%, 2%);
            @include d-flex(flex, center, center);

            &__services {
                width: $vp-full;
                height: 600px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: 80%;
                    flex-direction: $flex-direction;
                    background-image: url(../images/maki/maki-bg.jpeg);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: 20%;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services1 {
                width: $vp-full;
                height: 600px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: 80%;
                    flex-direction: $flex-direction;
                    background-image: url(../images/yoko/yoko\ bg.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: 20%;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services2 {
                width: $vp-full;
                height: 600px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: 80%;
                    flex-direction: $flex-direction;
                    background-image: url(../images/kitchen-daily/kitchen-daily.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: 20%;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services3 {
                width: $vp-full;
                height: 600px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: 80%;
                    flex-direction: $flex-direction;
                    background-image: url(../images/framerate/preview-f020a8bc.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: 20%;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            .vp100 {
                width: $vp-full;
            }

            .cn-big {
                background-color: rgb(169, 169, 169);
                width: 40px;
                height: 40px;
            }
        }

        .hidden {
            display: none;
        }
    }
}








@media screen and (min-width: 913px) {
    .hide {
        width: $vp-full;
        height: 125vh;
        margin: $margin-auto;
        gap: $gap-20;
        @include padding(1%, 1%);
        @include d-flex(flex, none, flex-start);

        &__introdution {
            flex: 0.5;
            height: $hg-fullheight;
            @include flex-column(flex, column, none, flex-start);

            &__introdution1 {
                width: $vp-70;
                height: $hg-50;

                a {
                    position: $position-relative;
                    @include a(none, rgb(96, 96, 96), 8px 0px, transparent, 0);
                }

                a::before {
                    content: "";
                    background-color: $bg-blue;
                    display: $display-inline-block;
                    width: $vp-full;
                    height: 2px;
                    position: $position-absolute;
                    top: 78%;
                    left: 0;
                    transform: rotateY(90deg);
                    transition: 1S;
                }

                a:hover {
                    color: $text-hover-black;
                }

                a:hover::before {
                    transform: rotateX(0);
                }
            }

            &__introdution2 {
                width: $vp-70;
                @include d-flex(flex, none, flex-start);

                a {
                    position: $position-relative;
                    @include a(none, rgb(96, 96, 96), 8px 0px, transparent, 0);
                }

                a::before {
                    content: "";
                    background-color: $bg-blue;
                    display: $display-inline-block;
                    width: $vp-full;
                    height: 2px;
                    position: $position-absolute;
                    top: 78%;
                    left: 0;
                    transform: rotateY(90deg);
                    transition: 1S;
                }

                a:hover {
                    color: $text-hover-black;
                }

                a:hover::before {
                    transform: rotateX(0);
                }
            }
        }

        &__explanation {
            flex: 1;
            height: 100%;
            background-color: #4c89f2;

            &__services {
                width: 100%;
                height: 62vh;
                margin: auto;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-80;
                    flex-direction: $flex-direction;
                    background-image: url(../images/juno/preview-88c7d92d.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }

                    button {
                        opacity: 0;
                        transition: 0.5s;
                    }

                    button:nth-child(1):hover {
                        background-color: $bg-a-blue-hover;
                    }

                    button:not(:nth-child(1)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;

                    button {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services1 {
                width: 100%;
                height: 62vh;
                margin: auto;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-80;
                    flex-direction: $flex-direction;
                    background-image: url(../images/trek/trek\ bg.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }

                    button {
                        opacity: 0;
                        transition: 0.5s;
                    }

                    button:nth-child(1):hover {
                        background-color: $bg-a-blue-hover;
                    }

                    button:not(:nth-child(1)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;

                    button {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services2 {
                width: 100%;
                height: 62vh;
                margin: auto;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-80;
                    flex-direction: $flex-direction;
                    background-image: url(../images/gravity/gravity-bg.jpeg);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }

                    button {
                        opacity: 0;
                        transition: 0.5s;
                    }

                    button:nth-child(1):hover {
                        background-color: $bg-a-blue-hover;
                    }

                    button:not(:nth-child(1)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;

                    button {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services3 {
                width: 100%;
                height: 62vh;
                margin: auto;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-80;
                    flex-direction: $flex-direction;
                    background-image: url(../images/balou/balou.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }

                    button {
                        opacity: 0;
                        transition: 0.5s;
                    }

                    button:nth-child(1):hover {
                        background-color: $bg-a-blue-hover;
                    }

                    button:not(:nth-child(1)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;

                    button {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }
        }

        &__explanation1 {
            flex: 1;
            height: 100%;
            background-color: red;

            &__services {
                width: 100%;
                height: 62vh;
                margin: auto;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-80;
                    flex-direction: $flex-direction;
                    background-image: url(../images/maki/maki-bg.jpeg);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }

                    button {
                        opacity: 0;
                        transition: 0.5s;
                    }

                    button:nth-child(1):hover {
                        background-color: $bg-a-blue-hover;
                    }

                    button:not(:nth-child(1)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }

                }

                &__top:hover {
                    opacity: 80%;

                    button {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services1 {
                width: 100%;
                height: 62vh;
                margin: auto;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-80;
                    flex-direction: $flex-direction;
                    background-image: url(../images/yoko/yoko\ bg.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }

                    button {
                        opacity: 0;
                        transition: 0.5s;
                    }

                    button:nth-child(1):hover {
                        background-color: $bg-a-blue-hover;
                    }

                    button:not(:nth-child(1)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;

                    button {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services2 {
                width: 100%;
                height: 62vh;
                margin: auto;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-80;
                    flex-direction: $flex-direction;
                    background-image: url(../images/kitchen-daily/kitchen-daily.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }

                    button {
                        opacity: 0;
                        transition: 0.5s;
                    }

                    button:nth-child(1):hover {
                        background-color: $bg-a-blue-hover;
                    }

                    button:not(:nth-child(1)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;

                    button {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services3 {
                width: 100%;
                height: 62vh;
                margin: auto;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-80;
                    flex-direction: $flex-direction;
                    background-image: url(../images/framerate/preview-f020a8bc.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 12px 24px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 12px 24px, rgb(169, 169, 169), 20px);
                    }

                    button {
                        opacity: 0;
                        transition: 0.5s;
                    }

                    button:nth-child(1):hover {
                        background-color: $bg-a-blue-hover;
                    }

                    button:not(:nth-child(1)):hover {
                        background-color: $text-gray;
                        color: $bg-white;
                    }
                }

                &__top:hover {
                    opacity: 80%;

                    button {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }
        }

        .vp100 {
            width: $vp-full;
        }

        .cn-big {
            background-color: rgb(169, 169, 169);
            width: 40px;
            height: 40px;
        }

        .margin-top {
            margin-top: 20px !important;
        }

        #font-size {
            font-size: $font-size-1-2;
        }
    }
}








@media screen and (max-width: 480px) {
    .hide {
        display: $display-flex;
        flex-direction: $flex-direction;
        width: $hg-98;
        height: 1600px;

        &__introdution {
            display: none;
        }

        &__explanation {
            width: $vp-full;
            height: 400px;
            background-color: #4c89f2;
            flex-direction: $flex-direction;
            @include padding(2%, 2%);
            @include d-flex(flex, center, flex-start);

            &__services {
                width: $vp-full;
                height: 400px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: 75%;
                    flex-direction: $flex-direction;
                    background-image: url(../images/juno/preview-88c7d92d.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 8px 20px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services1 {
                width: $vp-full;
                height: $hg-400px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-fullheight;
                    flex-direction: $flex-direction;
                    background-image: url(../images/trek/trek\ bg.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 8px 20px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services2 {
                width: $vp-full;
                height: $hg-400px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-fullheight;
                    flex-direction: $flex-direction;
                    background-image: url(../images/gravity/gravity-bg.jpeg);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 8px 20px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services3 {
                width: $vp-full;
                height: $hg-400px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-fullheight;
                    flex-direction: $flex-direction;
                    background-image: url(../images/balou/balou.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 8px 20px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }
        }

        &__explanation1 {
            width: $vp-full;
            height: $hg-400px;
            flex-direction: $flex-direction;
            @include padding(2%, 2%);
            @include d-flex(flex, center, flex-start);

            &__services {
                width: $vp-full;
                height: $hg-400px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-fullheight;
                    flex-direction: $flex-direction;
                    background-image: url(../images/maki/maki-bg.jpeg);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 8px 20px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }



            &__services1 {
                width: $vp-full;
                height: $hg-400px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-fullheight;
                    flex-direction: $flex-direction;
                    background-image: url(../images/yoko/yoko\ bg.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 8px 20px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services2 {
                width: $vp-full;
                height: $hg-400px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-fullheight;
                    flex-direction: $flex-direction;
                    background-image: url(../images/kitchen-daily/kitchen-daily.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 8px 20px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }

            &__services3 {
                width: $vp-full;
                height: $hg-400px;
                flex-direction: $flex-direction;
                @include d-flex(flex, center, flex-start);

                &__top {
                    width: $vp-full;
                    height: $hg-fullheight;
                    flex-direction: $flex-direction;
                    background-image: url(../images/framerate/preview-f020a8bc.webp);
                    @include bg-set(no-repeat, cover, center);
                    @include d-flex(flex, space-evenly, center);
                    @include image-card(98%, auto, 75%, 0px, 0px 0px 10px 5px rgba(141, 141, 141, 0.3));

                    &--blue {
                        @include a(none, white, 8px 20px, #4c89f2, 20px);
                    }

                    &--white {
                        @include a(none, rgb(255, 254, 254), 8px 20px, rgb(169, 169, 169), 20px);
                    }
                }

                &__buttom {
                    width: $vp-full;
                    height: $hg-25;
                    flex-direction: $flex-direction;
                    @include d-flex(flex, center, flex-start);
                }
            }
        }

        .vp100 {
            width: $vp-full;
        }

        .cn-small {
            background-color: rgb(169, 169, 169);
        }
    }
}