$full-width: 100%;
$vp-full: 100%;
$vp-98: 98%;
$vp-94: 94%;
$vp-90: 90%;
$vp-70: 70%;
$vp-50: 50%;
$vp-30: 30%;
$vp-25: 25%;
$vp-23: 23%;
$vp-20: 20%;
$vp-15: 15%;

$vp-120px: 120px;

$hg-200vh: 200vh;
$hg-80vh: 80vh;
$hg-20vh: 20vh;
$hg-header-13vh: 13vh;
$hg-header-9vh: 9vh;
$hg-img-desdktop: 7vw;
$hg-200: 200%;
$hg-fullheight: 100%;
$hg-98: 98%;
$hg-95: 95%;
$hg-80: 80%;
$hg-75: 75%;
$hg-65: 65%;
$hg-50: 50%;
$hg-38: 38%;
$hg-42: 42%;
$hg-25: 25%;
$hg-20: 20%;
$hg-10vh: 10vh;

$hg-80px: 80px;

$line-height-1-5: 1.5rem;
$line-height-1-7: 1.7rem;
$line-height-2rem: 2rem;


$gap: 10px;
$gap-20: 20px;

$bg-white: rgb(255, 255, 255);
$bg-blue: #4c89f2;
$bg-a-blue-hover: #275bb4;
$text-gray: rgb(150, 150, 150);
$text-hover-black: black;
$text-black: black;

$font-size-2-5rem: 2.5rem;
$font-size: 1.5rem;
$font-size-1-2: 1.2rem;
$font-size-1-1: 1.1rem;
$font-size-1: 1rem;
$font-size-larger: large;


$padding: 8px 20px;
$padding-a-blue: 4px 10px 1px 10px;
$padding-20px: 20px;

$border-radius: 20px;

$margin-top-bottom: 50px;
$margin-15px: 15px;
$margin: 0 1%;
$margin-top--50px: -50px;
$margin-0: 0;
$margin-auto: auto;

$text-decoration: none;
$position-relative: relative;
$position-fixed: fixed;
$position-absolute: absolute;
$display-inline-block: inline-block;
$text-align-center: center;
$flex-direction: column;
$flex-direction-row: row;

$display-flex: flex;
$flex-wrap: wrap;